<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form mt-5">
      <fieldset class="form-group" [class.has-error]="isUsernameError()">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username" required />
  
        <div *ngIf="isUsernameError()" class="alert alert-danger mt-2">
          Username is required.
        </div>
      </fieldset>
  
      <button type="submit" class="btn btn-primary">Load</button>
    </form>
</div>