<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form mt-5">
    <fieldset class="form-group" [class.has-error]="isKeyError()">
      <label for="steam-api-key">Steam API Key</label>
      <input type="text" id="steam-api-key" formControlName="key" class="form-control" required />

      <div *ngIf="isKeyError()" class="alert alert-danger mt-2">
        Steam API Key is required.
      </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Apply</button>
  </form>
</div>
