<div class="summary">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <mat-form-field>
          <mat-label>Usernames</mat-label>
    
          <input type="text" formControlName="username" required matInput />
    
          <mat-error>At least one username is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="form-control">
        <button type="submit" mat-stroked-button>Load</button>
      </div>
    </form>
</div>

<div *ngIf="players.length" class="container mt-5">
  <h1>Users</h1>

  <section class="mt-5">
    <app-player-list [players]="players" [bans]="bans" (clicked)="onPlayerClick($event)"></app-player-list>
  </section>
</div>
